{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form) }}


    {{ form_end(form) }}

    <button id="aggiungiCapo">Aggiungi Capo</button>

    <table id="ordiniRow">
    </table>
{% endblock %}

{% block javascripts %}

{{ parent() }}
<script src="{{ asset("js/aggiungiRigaOrdine.js") }}"></script>
{% endblock %}
