{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">
            <a class="btn" href="https://127.0.0.1:8000/ordini" role="button">Ordini</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" href="https://127.0.0.1:8000/clienti" role="button">Clienti</a>
        </div>

    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-6 text-center">
            <a class="btn btn-primary" href="https://127.0.0.1:8000/capi" role="button">Listino</a>
        </div>
        <div class="col-6">
            <a class="btn btn-primary" href="https://127.0.0.1:8000/impostazioni" role="button">Impostazioni</a>
        </div>
    </div>
{% endblock %}